# Ignorar todos os arquivos .log
*.venv
*.csv
*.dbf

# Ignorar a pasta "build"
Projeto DataSus/

# Ignorar um arquivo específico

banco/ACGRBR23.csv
banco/ACGRBR23.dbf
banco/ACGRBR22.csv
banco/ACGRBR22.dbf